# FastAPI Web Server
fastapi
uvicorn
python-multipart
pydantic
pydantic-settings

# AI & Orchestration
langchain
langchain-community
langgraph
ollama

# Vector Database
chromadb

# Document Parsing
PyMuPDF # For PDF
python-docx # For Word documents

# Database (PostgreSQL)
SQLAlchemy
psycopg2-binary

# Tracking
mlflow
